@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        @*<div class="list-group" >*@
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage")<br />

                    @Html.ActionLink("Registered Users", "index", "registeredUsers")<br />

                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

        @*</div>*@
    }
}
else
{
    @Html.ActionLink("Register", "Register", "Account")<br />
    @Html.ActionLink("Log in", "Login", "Account")
}
