@model ApartmentsRUS.Models.Apartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.building.street)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.building.street) - @Html.DisplayFor(model => model.building.city) - @Html.DisplayFor(model => model.building.state) - @Html.DisplayFor(model => model.building.zip)*@
            @Html.DisplayFor(model => model.building.buildingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartmentNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartmentNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxOccupancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxOccupancy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.apartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
