@*@model IEnumerable<ApartmentsRUS.Models.Apartment>*@
@model PagedList.IPagedList<ApartmentsRUS.Models.Apartment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Apartments";
}

<h2>Apartments</h2>

@using (Html.BeginForm("Index", "Apartments", FormMethod.Get))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                To search, enter one or more criteria and press the Search button
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>
                    City:
                    @Html.TextBox("city", ViewBag.search as string)
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    State:
                    @Html.TextBox("state", ViewBag.search as string)

                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <input type="submit" value="Search" />
                </p>
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Create New Apartment", "Create")
            </div>
        </div>
    </div>
}
<table class="table table-striped">
    <tr>
        <th>
            Apartment Number
        </th>
        <th>
            Apartment Address
        </th>
        <th>
            Bedrooms
        </th>
        <th>
            Bathrooms
        </th>
        <th>
            Max Occupancy
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.apartmentNum)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.building.buildingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxOccupancy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.apartmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.apartmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.apartmentID })
            </td>
        </tr>
    }

</table>
<br />
@Html.ActionLink("Send lease expiration notices", "leaseExpiring", "Apartments", new { city = ViewBag.city, state = ViewBag.state }, null)
<br />
@Html.ActionLink("Check availability of apartments", "apartmentStatus", "Buildings", new { city = ViewBag.city, state = ViewBag.state }, null)
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, city = ViewBag.city, state = ViewBag.state }))
