@*@model IEnumerable<ApartmentsRUS.Models.Building>*@
@model PagedList.IPagedList<ApartmentsRUS.Models.Building>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Buildings";
}
<div class="well">
    <h2>Buildings</h2>
</div>
<div class="form-horizontal">
    @using (Html.BeginForm("Index", "Buildings", FormMethod.Get))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    To search, enter one or more criteria and press the Search button
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>
                        Earliest Inspection Date:
                        @Html.TextBox("startDate", ViewBag.search as string)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Latest Inspection Date:
                        @Html.TextBox("stopDate", ViewBag.search as string)
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        Min appraized value:
                        @Html.TextBox("minValue", ViewBag.search as string)
                        <input type="submit" value="Search" />
                    </p>
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("Create New Renter", "Create")
                </div>
            </div>
        </div>
    }
</div>
<table class="table table-striped">
    <tr>
        <th>
            Street
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            InspectionDate
        </th>
        <th>
            InspectionResults
        </th>
        <th>
            Appraised Value
        </th>
        <th>
            Tax Rate
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inspectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inspectionResults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appraisedValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.propertyTaxRate)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.buildingImage)*@
                <img src="@Url.Content("~/Uploads/")@item.buildingImage" height="100" />

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.buildingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.buildingID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.buildingID })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Parade of Buildings Slide Show", "SlideShow", "Buildings")
<br />
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, startDate = ViewBag.startDate, stopDate = ViewBag.stopDate, minValue = ViewBag.minValue }))

@*new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@