@model ApartmentsRUS.Models.Apartment

@{
    ViewBag.Title = "Delete Apartments";
}
    <div class="alert alert-danger">
        <h2>Delete Apartments</h2>

        <h3>Are you sure you want to delete this apartment?</h3>
    </div>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           Building Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.building.buildingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartmentNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartmentNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxOccupancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxOccupancy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
