@model ApartmentsRUS.Models.Apartment

@{
    ViewBag.Title = "Apartment Details";
}
<div class="well well-sm">
    <h2>Apartment Details</h2>
    </div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Building Address
            </dt>

            <dd>
                @Html.DisplayFor(model => model.building.buildingAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apartmentNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apartmentNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bedrooms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bedrooms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bathrooms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bathrooms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.maxOccupancy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.maxOccupancy)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.apartmentID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
