@model ApartmentsRUS.Models.Owner

@{
    ViewBag.Title = "Owner Details";
}
<div class="well well-sm">
    <h2>Owner Details</h2>
</div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.taxID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.taxID)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ownerID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
