@model ApartmentsRUS.Models.Lease

@{
    ViewBag.Title = "Delete a Lease";
}
    <div class="alert alert-danger">
        <h2>Delete A Lease</h2>

        <h3>Are you sure you want to delete this?</h3>
    </div>
<div>
    <h4>Lease</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.apartment.apartmentNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment.apartmentNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.renter.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.renter.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.securityDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.securityDeposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthlyRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depositRefunded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depositRefunded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amtRefunded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amtRefunded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leaseDoc)
        </dt>

        <dd>
            @{
                if (Model.leaseDoc != null && Model.leaseDoc != "")
                {
                    <a href="~/LeaseDocuments/@Model.leaseDoc">lease</a>
                }
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
