@model ApartmentsRUS.Models.Lease

@{
    ViewBag.Title = "Lease Details";
}
    <div class="well">
        <h2>Lease Details</h2>
    </div>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.apartment.apartmentNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment.apartmentNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.renter.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.renter.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.securityDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.securityDeposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthlyRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depositRefunded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depositRefunded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amtRefunded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amtRefunded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leaseDoc)
        </dt>

        <dd>
            @{
                if (Model.leaseDoc != null && Model.leaseDoc != "")
                {
                    <a href="~/LeaseDocuments/@Model.leaseDoc">lease</a>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.leaseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
