@model IEnumerable<ApartmentsRUS.Models.Lease>

@{
    ViewBag.Title = "Leases";
}
    <div class="well">
        <h2>Leases</h2>
    </div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.apartment.apartmentNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.renter.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.securityDeposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monthlyRent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depositRefunded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amtRefunded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leaseDoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.apartment.apartmentNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.renter.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.securityDeposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monthlyRent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.depositRefunded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amtRefunded)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.leaseDoc)*@
            @{
                if (item.leaseDoc != null && item.leaseDoc != "")
                {
                    <a href="~/LeaseDocuments/@item.leaseDoc">lease</a>
                }
            }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.leaseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.leaseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.leaseID })
        </td>
    </tr>
}

</table>
